body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.box {
    width: 100vw;
    height: 100vh;
    background-image: url('https://picsum.photos/id/2/1920/1080');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.box p {
    font-size: 100px;
    font-weight: bolder;
    -webkit-text-stroke: .25px #fff;
    /* 字体背景图片 start */
    background-image: url('https://picsum.photos/id/2/1920/1080');
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* end */
    /* 颜色混合模式 start */
    /* mix-blend-mode: difference;
    color: #fff; */
    /* end */
    user-select: none;
    cursor: pointer;
    transition: -webkit-text-stroke 0.5s, font-size 0.25s;
    &:hover {
        -webkit-text-stroke: 2px #fff;
        font-size: 128px;
    }
}